@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
.profile-wrapper {
    font-size: 1.1em;
    position: absolute;
    top: 5px;
    left: 5px;
}
.profile-card {
    padding: 5px;
}
.profile-card button {
    font-family: 'Baloo Paaji', sans-serif;
    font-size: 1em;
    font-weight: 900;
    width: 100%;

    margin-top: 0.8em;

}

