@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
.profile-wrapper {
    font-size: 1.1em;
    position: absolute;
    top: 5px;
    left: 5px;
}
.profile-card {
    padding: 3px;
    max-width: 150px;
}
.profile-card button {
    font-family: 'Baloo Paaji', sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    width: 100%;
    border: none;
    border-radius: 20px!important;
    margin-top: 0.8em;
    background-color: #24b2ff;
    box-shadow: 3px 3px 0 #1519e1;
    transition: 0.2s all;
}
.profile-card button:hover {
    background-color: #1519e1;
    box-shadow: 3px 3px 0 #24b2ff;
}
